<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle}}</title> 
    {{!-- Esto de arriba es una variable --}}
</head>
<body>
    {{!-- Esto de abajo recibe tres corchetes porque es una platilla -- --}}
    {{{body}}}
</body>
</html>