<div>
    <div>
        <h2>My Chat</h2>
    </div>
    <div>
        <div id="messageLogs">
            <h4>
                Escribe tu msj
            </h4>
            <input>
        </div>
    </div>

</div>